<!DOCTYPE html>
<head>
    <title>Infinite Jest</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>
<body>
    Welcome to Infinite Jest! You found the site!
    <br />
    We're attempting to pull data from the database here:<br /><br />
    <div id="app">
        Full message: {{ message }}<br /><br /><br />

        <div id="users-dropdown">
            <div v-for="user in users">
                {{user.Name}} ({{ user.Id }}) <br><br>

            </div>
        </div>
        <br><br><br>

        <div id="jokes-dropdown">
            <div v-for="joke in jokes">
                {{joke.SetUp}} <br> {{ joke.Payoff }} <br><br>

            </div>
        </div>
    </div>

</body>
  
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Loading Users and Jokes...',
            users: [],
            jokes: [],
        },
        async mounted() {
            let URL = process.env["HOST_URL"];
            let fetchedUsers = await (await (fetch(URL + "api/GetUsers"))).text();
            this.users = JSON.parse(fetchedUsers);
            let fetchedJokes = await (await (fetch(URL + "api/GetJokes"))).text();
            this.jokes = JSON.parse(fetchedJokes);
            this.message = "Loaded!";
        }
    });
</script>